openapi: 3.0.2
info:
  title: Contract Library Rest API
  version: 1.0.0
servers:
  - url: https://api.dedaub.com
paths:
  /api/on_demand/decompilation/{md5}:
    get:
      tags:
        - decompiler_api
      summary: Fetch output from Decompiler
      description: Returns the decompiled code from the decompiler.
      operationId: get_decompilation
      parameters:
        - required: true
          schema:
            title: Md5
            pattern: ^(0x)?[0-9A-Fa-f]{32}$
            type: string
          example: '0x28e065e594ff5114e20d4fa6fd280d5f'
          name: md5
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Decompilation'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - OAuth2AuthorizationCodeBearer: []
        - APIKeyHeader: []
  /api/on_demand/{md5}/status:
    get:
      tags:
        - decompiler_api
      summary: Query status of decompilation
      description: >-
        The `CIStage` indicates the progress of your decompilation, with five
        return responses.
                The statuses `ANALYSIS_STARTED` and `ANALYSIS_ENDED` are only applicable if you're using
                the static analysis pipeline. Note that all results are uploaded together; thus, even if
                your status changes from `DECOMPILATION_STARTED` to `ANALYSIS_STARTED`, the decompilation
                result won't be uploaded until the pipeline returns `COMPLETED`.
      operationId: get_on_demand_analysis_status
      parameters:
        - required: true
          schema:
            title: Md5
            pattern: ^(0x)?[0-9A-Fa-f]{32}$
            type: string
          example: '0x28e065e594ff5114e20d4fa6fd280d5f'
          name: md5
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CIStage'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - OAuth2AuthorizationCodeBearer: []
        - APIKeyHeader: []
  /api/on_demand:
    post:
      tags:
        - decompiler_api
      summary: Submit bytecode for decompilation
      description: >-
        Upload the hex representation of your bytecode for scheduling
        decompilation.
                Identify your decompilation job using the returned hex string, which is an MD5
                hash of the uploaded bytecode in binary format.
      operationId: decompile
      requestBody:
        content:
          application/json:
            schema:
              title: Hex Bytecode
              pattern: ^(0x)?[0-9A-Fa-f]*$
              type: string
            example: >-
              0x6060604052600436106100af576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16806306fdde03146100b9578063095ea7b31461014757806318160ddd146101a157806323b872dd146101ca5780632e1a7d4d14610243578063313ce5671461026657806370a082311461029557806395d89b41146102e2578063a9059cbb14610370578063d0e30db0146103ca578063dd62ed3e146103d4575b6100b7610440565b005b34156100c457600080fd5b6100cc6104dd565b6040518080602001828103825283818151815260200191508051906020019080838360005b8381101561010c5780820151818401526020810190506100f1565b50505050905090810190601f1680156101395780820380516001836020036101000a031916815260200191505b509250505060405180910390f35b341561015257600080fd5b610187600480803573ffffffffffffffffffffffffffffffffffffffff1690602001909190803590602001909190505061057b565b604051808215151515815260200191505060405180910390f35b34156101ac57600080fd5b6101b461066d565b6040518082815260200191505060405180910390f35b34156101d557600080fd5b610229600480803573ffffffffffffffffffffffffffffffffffffffff1690602001909190803573ffffffffffffffffffffffffffffffffffffffff1690602001909190803590602001909190505061068c565b604051808215151515815260200191505060405180910390f35b341561024e57600080fd5b61026460048080359060200190919050506109d9565b005b341561027157600080fd5b610279610b05565b604051808260ff1660ff16815260200191505060405180910390f35b34156102a057600080fd5b6102cc600480803573ffffffffffffffffffffffffffffffffffffffff16906020019091905050610b18565b6040518082815260200191505060405180910390f35b34156102ed57600080fd5b6102f5610b30565b6040518080602001828103825283818151815260200191508051906020019080838360005b8381101561033557808201518184015260208101905061031a565b50505050905090810190601f1680156103625780820380516001836020036101000a031916815260200191505b509250505060405180910390f35b341561037b57600080fd5b6103b0600480803573ffffffffffffffffffffffffffffffffffffffff16906020019091908035906020019091905050610bce565b604051808215151515815260200191505060405180910390f35b6103d2610440565b005b34156103df57600080fd5b61042a600480803573ffffffffffffffffffffffffffffffffffffffff1690602001909190803573ffffffffffffffffffffffffffffffffffffffff16906020019091905050610be3565b6040518082815260200191505060405180910390f35b34600360003373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff168152602001908152602001600020600082825401925050819055503373ffffffffffffffffffffffffffffffffffffffff167fe1fffcc4923d04b559f4d29a8bfc6cda04eb5b0d3c460751c2402c5c5cc9109c346040518082815260200191505060405180910390a2565b60008054600181600116156101000203166002900480601f0160208091040260200160405190810160405280929190818152602001828054600181600116156101000203166002900480156105735780601f1061054857610100808354040283529160200191610573565b820191906000526020600020905b81548152906001019060200180831161055657829003601f168201915b505050505081565b600081600460003373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002060008573ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff168152602001908152602001600020819055508273ffffffffffffffffffffffffffffffffffffffff163373ffffffffffffffffffffffffffffffffffffffff167f8c5be1e5ebec7d5bd14f71427d1e84f3dd0314c0f7b2291e5b200ac8c7c3b925846040518082815260200191505060405180910390a36001905092915050565b60003073ffffffffffffffffffffffffffffffffffffffff1631905090565b600081600360008673ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002054101515156106dc57600080fd5b3373ffffffffffffffffffffffffffffffffffffffff168473ffffffffffffffffffffffffffffffffffffffff16141580156107b457507fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff600460008673ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002060003373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff1681526020019081526020016000205414155b156108cf5781600460008673ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002060003373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff168152602001908152602001600020541015151561084457600080fd5b81600460008673ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002060003373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff168152602001908152602001600020600082825403925050819055505b81600360008673ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff1681526020019081526020016000206000828254039250508190555081600360008573ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff168152602001908152602001600020600082825401925050819055508273ffffffffffffffffffffffffffffffffffffffff168473ffffffffffffffffffffffffffffffffffffffff167fddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef846040518082815260200191505060405180910390a3600190509392505050565b80600360003373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff1681526020019081526020016000205410151515610a2757600080fd5b80600360003373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff168152602001908152602001600020600082825403925050819055503373ffffffffffffffffffffffffffffffffffffffff166108fc829081150290604051600060405180830381858888f193505050501515610ab457600080fd5b3373ffffffffffffffffffffffffffffffffffffffff167f7fcf532c15f0a6db0bd6d0e038bea71d30d808c7d98cb3bf7268a95bf5081b65826040518082815260200191505060405180910390a250565b600260009054906101000a900460ff1681565b60036020528060005260406000206000915090505481565b60018054600181600116156101000203166002900480601f016020809104026020016040519081016040528092919081815260200182805460018160011615610100020316600290048015610bc65780601f10610b9b57610100808354040283529160200191610bc6565b820191906000526020600020905b815481529060010190602001808311610ba957829003601f168201915b505050505081565b6000610bdb33848461068c565b905092915050565b60046020528160005260406000206020528060005260406000206000915091505054815600a165627a7a72305820deb4c2ccab3c2fdca32ab3f46728389c2fe2c165d5fafa07661e4e004f6c344a0029
        required: true
      responses:
        '200':
          description: Successfully submitted bytecode for decompilation
          content:
            application/json:
              schema:
                title: Response Decompile
                pattern: ^(0x)?[0-9A-Fa-f]{32}$
                type: string
              example: '0x28e065e594ff5114e20d4fa6fd280d5f'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - OAuth2AuthorizationCodeBearer: []
        - APIKeyHeader: []
components:
  schemas:
    CIStage:
      title: CIStage
      enum:
        - UNKNOWN
        - SCHEDULED
        - DECOMPILATION_STARTED
        - ANALYSIS_STARTED
        - ANALYSIS_ENDED
        - COMPLETED
      type: string
      description: An enumeration.
    Decompilation:
      title: Decompilation
      required:
        - md5
        - bytecode
        - disassembled
        - tac
        - yul
        - source
      type: object
      properties:
        md5:
          title: Md5
          pattern: ^(0x)?[0-9A-Fa-f]{32}$
          type: string
          example: '0x28e065e594ff5114e20d4fa6fd280d5f'
        bytecode:
          title: Bytecode
          type: string
          example: >-
            0x6060604052600436106100af576000357c0100000000000000000000000000000000000000000000000000000000900463ffffffff16806306fdde03146100b9578063095ea7b31461014757806318160ddd146101a157806323b872dd146101ca5780632e1a7d4d14610243578063313ce5671461026657806370a082311461029557806395d89b41146102e2578063a9059cbb14610370578063d0e30db0146103ca578063dd62ed3e146103d4575b6100b7610440565b005b34156100c457600080fd5b6100cc6104dd565b6040518080602001828103825283818151815260200191508051906020019080838360005b8381101561010c5780820151818401526020810190506100f1565b50505050905090810190601f1680156101395780820380516001836020036101000a031916815260200191505b509250505060405180910390f35b341561015257600080fd5b610187600480803573ffffffffffffffffffffffffffffffffffffffff1690602001909190803590602001909190505061057b565b604051808215151515815260200191505060405180910390f35b34156101ac57600080fd5b6101b461066d565b6040518082815260200191505060405180910390f35b34156101d557600080fd5b610229600480803573ffffffffffffffffffffffffffffffffffffffff1690602001909190803573ffffffffffffffffffffffffffffffffffffffff1690602001909190803590602001909190505061068c565b604051808215151515815260200191505060405180910390f35b341561024e57600080fd5b61026460048080359060200190919050506109d9565b005b341561027157600080fd5b610279610b05565b604051808260ff1660ff16815260200191505060405180910390f35b34156102a057600080fd5b6102cc600480803573ffffffffffffffffffffffffffffffffffffffff16906020019091905050610b18565b6040518082815260200191505060405180910390f35b34156102ed57600080fd5b6102f5610b30565b6040518080602001828103825283818151815260200191508051906020019080838360005b8381101561033557808201518184015260208101905061031a565b50505050905090810190601f1680156103625780820380516001836020036101000a031916815260200191505b509250505060405180910390f35b341561037b57600080fd5b6103b0600480803573ffffffffffffffffffffffffffffffffffffffff16906020019091908035906020019091905050610bce565b604051808215151515815260200191505060405180910390f35b6103d2610440565b005b34156103df57600080fd5b61042a600480803573ffffffffffffffffffffffffffffffffffffffff1690602001909190803573ffffffffffffffffffffffffffffffffffffffff16906020019091905050610be3565b6040518082815260200191505060405180910390f35b34600360003373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff168152602001908152602001600020600082825401925050819055503373ffffffffffffffffffffffffffffffffffffffff167fe1fffcc4923d04b559f4d29a8bfc6cda04eb5b0d3c460751c2402c5c5cc9109c346040518082815260200191505060405180910390a2565b60008054600181600116156101000203166002900480601f0160208091040260200160405190810160405280929190818152602001828054600181600116156101000203166002900480156105735780601f1061054857610100808354040283529160200191610573565b820191906000526020600020905b81548152906001019060200180831161055657829003601f168201915b505050505081565b600081600460003373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002060008573ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff168152602001908152602001600020819055508273ffffffffffffffffffffffffffffffffffffffff163373ffffffffffffffffffffffffffffffffffffffff167f8c5be1e5ebec7d5bd14f71427d1e84f3dd0314c0f7b2291e5b200ac8c7c3b925846040518082815260200191505060405180910390a36001905092915050565b60003073ffffffffffffffffffffffffffffffffffffffff1631905090565b600081600360008673ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002054101515156106dc57600080fd5b3373ffffffffffffffffffffffffffffffffffffffff168473ffffffffffffffffffffffffffffffffffffffff16141580156107b457507fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff600460008673ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002060003373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff1681526020019081526020016000205414155b156108cf5781600460008673ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002060003373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff168152602001908152602001600020541015151561084457600080fd5b81600460008673ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002060003373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff168152602001908152602001600020600082825403925050819055505b81600360008673ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff1681526020019081526020016000206000828254039250508190555081600360008573ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff168152602001908152602001600020600082825401925050819055508273ffffffffffffffffffffffffffffffffffffffff168473ffffffffffffffffffffffffffffffffffffffff167fddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef846040518082815260200191505060405180910390a3600190509392505050565b80600360003373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff1681526020019081526020016000205410151515610a2757600080fd5b80600360003373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff168152602001908152602001600020600082825403925050819055503373ffffffffffffffffffffffffffffffffffffffff166108fc829081150290604051600060405180830381858888f193505050501515610ab457600080fd5b3373ffffffffffffffffffffffffffffffffffffffff167f7fcf532c15f0a6db0bd6d0e038bea71d30d808c7d98cb3bf7268a95bf5081b65826040518082815260200191505060405180910390a250565b600260009054906101000a900460ff1681565b60036020528060005260406000206000915090505481565b60018054600181600116156101000203166002900480601f016020809104026020016040519081016040528092919081815260200182805460018160011615610100020316600290048015610bc65780601f10610b9b57610100808354040283529160200191610bc6565b820191906000526020600020905b815481529060010190602001808311610ba957829003601f168201915b505050505081565b6000610bdb33848461068c565b905092915050565b60046020528160005260406000206020528060005260406000206000915091505054815600a165627a7a72305820deb4c2ccab3c2fdca32ab3f46728389c2fe2c165d5fafa07661e4e004f6c344a0029
        disassembled:
          title: Disassembled
          type: string
          example: |2-
                0x0: PUSH1     0x60
                0x2: PUSH1     0x40
                0x4: MSTORE    
                0x5: PUSH1     0x4
                0x7: CALLDATASIZE
                0x8: LT        
                0x9: PUSH2     0xaf
                0xc: JUMPI     
                0xd: PUSH1     0x0
                0xf: CALLDATALOAD
               0x10: PUSH29    0x100000000000000000000000000000000000000000000000000000000
               0x2e: SWAP1     
               0x2f: DIV       
               0x30: PUSH4     0xffffffff
               0x35: AND       
               0x36: DUP1      
               0x37: PUSH4     0x6fdde03
               0x3c: EQ        
               0x3d: PUSH2     0xb9
               0x40: JUMPI     
               0x41: DUP1      
               0x42: PUSH4     0x95ea7b3
               0x47: EQ        
               0x48: PUSH2     0x147
               0x4b: JUMPI     
               0x4c: DUP1      
               0x4d: PUSH4     0x18160ddd
               0x52: EQ        
               0x53: PUSH2     0x1a1
               0x56: JUMPI     
               0x57: DUP1      
               0x58: PUSH4     0x23b872dd
               0x5d: EQ        
               0x5e: PUSH2     0x1ca
               0x61: JUMPI     
               0x62: DUP1      
               0x63: PUSH4     0x2e1a7d4d
               0x68: EQ        
               0x69: PUSH2     0x243
               0x6c: JUMPI     
               0x6d: DUP1      
               0x6e: PUSH4     0x313ce567
               0x73: EQ        
               0x74: PUSH2     0x266
               0x77: JUMPI     
               0x78: DUP1      
               0x79: PUSH4     0x70a08231
               0x7e: EQ        
               0x7f: PUSH2     0x295
               0x82: JUMPI     
               0x83: DUP1      
               0x84: PUSH4     0x95d89b41
               0x89: EQ        
               0x8a: PUSH2     0x2e2
               0x8d: JUMPI     
               0x8e: DUP1      
               0x8f: PUSH4     0xa9059cbb
               0x94: EQ        
               0x95: PUSH2     0x370
               0x98: JUMPI     
               0x99: DUP1      
               0x9a: PUSH4     0xd0e30db0
               0x9f: EQ        
               0xa0: PUSH2     0x3ca
               0xa3: JUMPI     
               0xa4: DUP1      
               0xa5: PUSH4     0xdd62ed3e
               0xaa: EQ        
               0xab: PUSH2     0x3d4
               0xae: JUMPI     
               0xaf: JUMPDEST  
               0xb0: PUSH2     0xb7
               0xb3: PUSH2     0x440
               0xb6: JUMP      
               0xb7: JUMPDEST  
               0xb8: STOP      
               0xb9: JUMPDEST  
               0xba: CALLVALUE 
               0xbb: ISZERO    
               0xbc: PUSH2     0xc4
               0xbf: JUMPI     
               0xc0: PUSH1     0x0
               0xc2: DUP1      
               0xc3: REVERT    
               0xc4: JUMPDEST  
               0xc5: PUSH2     0xcc
               0xc8: PUSH2     0x4dd
               0xcb: JUMP      
               0xcc: JUMPDEST  
               0xcd: PUSH1     0x40
               0xcf: MLOAD     
               0xd0: DUP1      
               0xd1: DUP1      
               0xd2: PUSH1     0x20
               0xd4: ADD       
               0xd5: DUP3      
               0xd6: DUP2      
               0xd7: SUB       
               0xd8: DUP3      
               0xd9: MSTORE    
               0xda: DUP4      
               0xdb: DUP2      
               0xdc: DUP2      
               0xdd: MLOAD     
               0xde: DUP2      
               0xdf: MSTORE    
               0xe0: PUSH1     0x20
               0xe2: ADD       
               0xe3: SWAP2     
               0xe4: POP       
               0xe5: DUP1      
               0xe6: MLOAD     
               0xe7: SWAP1     
               0xe8: PUSH1     0x20
               0xea: ADD       
               0xeb: SWAP1     
               0xec: DUP1      
               0xed: DUP4      
               0xee: DUP4      
               0xef: PUSH1     0x0
               0xf1: JUMPDEST  
               0xf2: DUP4      
               0xf3: DUP2      
               0xf4: LT        
               0xf5: ISZERO    
               0xf6: PUSH2     0x10c
               0xf9: JUMPI     
               0xfa: DUP1      
               0xfb: DUP3      
               0xfc: ADD       
               0xfd: MLOAD     
               0xfe: DUP2      
               0xff: DUP5      
              0x100: ADD       
              0x101: MSTORE    
              0x102: PUSH1     0x20
              0x104: DUP2      
              0x105: ADD       
              0x106: SWAP1     
              0x107: POP       
              0x108: PUSH2     0xf1
              0x10b: JUMP      
              0x10c: JUMPDEST  
              0x10d: POP       
              0x10e: POP       
              0x10f: POP       
              0x110: POP       
              0x111: SWAP1     
              0x112: POP       
              0x113: SWAP1     
              0x114: DUP2      
              0x115: ADD       
              0x116: SWAP1     
              0x117: PUSH1     0x1f
              0x119: AND       
              0x11a: DUP1      
              0x11b: ISZERO    
              0x11c: PUSH2     0x139
              0x11f: JUMPI     
              0x120: DUP1      
              0x121: DUP3      
              0x122: SUB       
              0x123: DUP1      
              0x124: MLOAD     
              0x125: PUSH1     0x1
              0x127: DUP4      
              0x128: PUSH1     0x20
              0x12a: SUB       
              0x12b: PUSH2     0x100
              0x12e: EXP       
              0x12f: SUB       
              0x130: NOT       
              0x131: AND       
              0x132: DUP2      
              0x133: MSTORE    
              0x134: PUSH1     0x20
              0x136: ADD       
              0x137: SWAP2     
              0x138: POP       
              0x139: JUMPDEST  
              0x13a: POP       
              0x13b: SWAP3     
              0x13c: POP       
              0x13d: POP       
              0x13e: POP       
              0x13f: PUSH1     0x40
              0x141: MLOAD     
              0x142: DUP1      
              0x143: SWAP2     
              0x144: SUB       
              0x145: SWAP1     
              0x146: RETURN    
              0x147: JUMPDEST  
              0x148: CALLVALUE 
              0x149: ISZERO    
              0x14a: PUSH2     0x152
              0x14d: JUMPI     
              0x14e: PUSH1     0x0
              0x150: DUP1      
              0x151: REVERT    
              0x152: JUMPDEST  
              0x153: PUSH2     0x187
              0x156: PUSH1     0x4
              0x158: DUP1      
              0x159: DUP1      
              0x15a: CALLDATALOAD
              0x15b: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x170: AND       
              0x171: SWAP1     
              0x172: PUSH1     0x20
              0x174: ADD       
              0x175: SWAP1     
              0x176: SWAP2     
              0x177: SWAP1     
              0x178: DUP1      
              0x179: CALLDATALOAD
              0x17a: SWAP1     
              0x17b: PUSH1     0x20
              0x17d: ADD       
              0x17e: SWAP1     
              0x17f: SWAP2     
              0x180: SWAP1     
              0x181: POP       
              0x182: POP       
              0x183: PUSH2     0x57b
              0x186: JUMP      
              0x187: JUMPDEST  
              0x188: PUSH1     0x40
              0x18a: MLOAD     
              0x18b: DUP1      
              0x18c: DUP3      
              0x18d: ISZERO    
              0x18e: ISZERO    
              0x18f: ISZERO    
              0x190: ISZERO    
              0x191: DUP2      
              0x192: MSTORE    
              0x193: PUSH1     0x20
              0x195: ADD       
              0x196: SWAP2     
              0x197: POP       
              0x198: POP       
              0x199: PUSH1     0x40
              0x19b: MLOAD     
              0x19c: DUP1      
              0x19d: SWAP2     
              0x19e: SUB       
              0x19f: SWAP1     
              0x1a0: RETURN    
              0x1a1: JUMPDEST  
              0x1a2: CALLVALUE 
              0x1a3: ISZERO    
              0x1a4: PUSH2     0x1ac
              0x1a7: JUMPI     
              0x1a8: PUSH1     0x0
              0x1aa: DUP1      
              0x1ab: REVERT    
              0x1ac: JUMPDEST  
              0x1ad: PUSH2     0x1b4
              0x1b0: PUSH2     0x66d
              0x1b3: JUMP      
              0x1b4: JUMPDEST  
              0x1b5: PUSH1     0x40
              0x1b7: MLOAD     
              0x1b8: DUP1      
              0x1b9: DUP3      
              0x1ba: DUP2      
              0x1bb: MSTORE    
              0x1bc: PUSH1     0x20
              0x1be: ADD       
              0x1bf: SWAP2     
              0x1c0: POP       
              0x1c1: POP       
              0x1c2: PUSH1     0x40
              0x1c4: MLOAD     
              0x1c5: DUP1      
              0x1c6: SWAP2     
              0x1c7: SUB       
              0x1c8: SWAP1     
              0x1c9: RETURN    
              0x1ca: JUMPDEST  
              0x1cb: CALLVALUE 
              0x1cc: ISZERO    
              0x1cd: PUSH2     0x1d5
              0x1d0: JUMPI     
              0x1d1: PUSH1     0x0
              0x1d3: DUP1      
              0x1d4: REVERT    
              0x1d5: JUMPDEST  
              0x1d6: PUSH2     0x229
              0x1d9: PUSH1     0x4
              0x1db: DUP1      
              0x1dc: DUP1      
              0x1dd: CALLDATALOAD
              0x1de: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x1f3: AND       
              0x1f4: SWAP1     
              0x1f5: PUSH1     0x20
              0x1f7: ADD       
              0x1f8: SWAP1     
              0x1f9: SWAP2     
              0x1fa: SWAP1     
              0x1fb: DUP1      
              0x1fc: CALLDATALOAD
              0x1fd: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x212: AND       
              0x213: SWAP1     
              0x214: PUSH1     0x20
              0x216: ADD       
              0x217: SWAP1     
              0x218: SWAP2     
              0x219: SWAP1     
              0x21a: DUP1      
              0x21b: CALLDATALOAD
              0x21c: SWAP1     
              0x21d: PUSH1     0x20
              0x21f: ADD       
              0x220: SWAP1     
              0x221: SWAP2     
              0x222: SWAP1     
              0x223: POP       
              0x224: POP       
              0x225: PUSH2     0x68c
              0x228: JUMP      
              0x229: JUMPDEST  
              0x22a: PUSH1     0x40
              0x22c: MLOAD     
              0x22d: DUP1      
              0x22e: DUP3      
              0x22f: ISZERO    
              0x230: ISZERO    
              0x231: ISZERO    
              0x232: ISZERO    
              0x233: DUP2      
              0x234: MSTORE    
              0x235: PUSH1     0x20
              0x237: ADD       
              0x238: SWAP2     
              0x239: POP       
              0x23a: POP       
              0x23b: PUSH1     0x40
              0x23d: MLOAD     
              0x23e: DUP1      
              0x23f: SWAP2     
              0x240: SUB       
              0x241: SWAP1     
              0x242: RETURN    
              0x243: JUMPDEST  
              0x244: CALLVALUE 
              0x245: ISZERO    
              0x246: PUSH2     0x24e
              0x249: JUMPI     
              0x24a: PUSH1     0x0
              0x24c: DUP1      
              0x24d: REVERT    
              0x24e: JUMPDEST  
              0x24f: PUSH2     0x264
              0x252: PUSH1     0x4
              0x254: DUP1      
              0x255: DUP1      
              0x256: CALLDATALOAD
              0x257: SWAP1     
              0x258: PUSH1     0x20
              0x25a: ADD       
              0x25b: SWAP1     
              0x25c: SWAP2     
              0x25d: SWAP1     
              0x25e: POP       
              0x25f: POP       
              0x260: PUSH2     0x9d9
              0x263: JUMP      
              0x264: JUMPDEST  
              0x265: STOP      
              0x266: JUMPDEST  
              0x267: CALLVALUE 
              0x268: ISZERO    
              0x269: PUSH2     0x271
              0x26c: JUMPI     
              0x26d: PUSH1     0x0
              0x26f: DUP1      
              0x270: REVERT    
              0x271: JUMPDEST  
              0x272: PUSH2     0x279
              0x275: PUSH2     0xb05
              0x278: JUMP      
              0x279: JUMPDEST  
              0x27a: PUSH1     0x40
              0x27c: MLOAD     
              0x27d: DUP1      
              0x27e: DUP3      
              0x27f: PUSH1     0xff
              0x281: AND       
              0x282: PUSH1     0xff
              0x284: AND       
              0x285: DUP2      
              0x286: MSTORE    
              0x287: PUSH1     0x20
              0x289: ADD       
              0x28a: SWAP2     
              0x28b: POP       
              0x28c: POP       
              0x28d: PUSH1     0x40
              0x28f: MLOAD     
              0x290: DUP1      
              0x291: SWAP2     
              0x292: SUB       
              0x293: SWAP1     
              0x294: RETURN    
              0x295: JUMPDEST  
              0x296: CALLVALUE 
              0x297: ISZERO    
              0x298: PUSH2     0x2a0
              0x29b: JUMPI     
              0x29c: PUSH1     0x0
              0x29e: DUP1      
              0x29f: REVERT    
              0x2a0: JUMPDEST  
              0x2a1: PUSH2     0x2cc
              0x2a4: PUSH1     0x4
              0x2a6: DUP1      
              0x2a7: DUP1      
              0x2a8: CALLDATALOAD
              0x2a9: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x2be: AND       
              0x2bf: SWAP1     
              0x2c0: PUSH1     0x20
              0x2c2: ADD       
              0x2c3: SWAP1     
              0x2c4: SWAP2     
              0x2c5: SWAP1     
              0x2c6: POP       
              0x2c7: POP       
              0x2c8: PUSH2     0xb18
              0x2cb: JUMP      
              0x2cc: JUMPDEST  
              0x2cd: PUSH1     0x40
              0x2cf: MLOAD     
              0x2d0: DUP1      
              0x2d1: DUP3      
              0x2d2: DUP2      
              0x2d3: MSTORE    
              0x2d4: PUSH1     0x20
              0x2d6: ADD       
              0x2d7: SWAP2     
              0x2d8: POP       
              0x2d9: POP       
              0x2da: PUSH1     0x40
              0x2dc: MLOAD     
              0x2dd: DUP1      
              0x2de: SWAP2     
              0x2df: SUB       
              0x2e0: SWAP1     
              0x2e1: RETURN    
              0x2e2: JUMPDEST  
              0x2e3: CALLVALUE 
              0x2e4: ISZERO    
              0x2e5: PUSH2     0x2ed
              0x2e8: JUMPI     
              0x2e9: PUSH1     0x0
              0x2eb: DUP1      
              0x2ec: REVERT    
              0x2ed: JUMPDEST  
              0x2ee: PUSH2     0x2f5
              0x2f1: PUSH2     0xb30
              0x2f4: JUMP      
              0x2f5: JUMPDEST  
              0x2f6: PUSH1     0x40
              0x2f8: MLOAD     
              0x2f9: DUP1      
              0x2fa: DUP1      
              0x2fb: PUSH1     0x20
              0x2fd: ADD       
              0x2fe: DUP3      
              0x2ff: DUP2      
              0x300: SUB       
              0x301: DUP3      
              0x302: MSTORE    
              0x303: DUP4      
              0x304: DUP2      
              0x305: DUP2      
              0x306: MLOAD     
              0x307: DUP2      
              0x308: MSTORE    
              0x309: PUSH1     0x20
              0x30b: ADD       
              0x30c: SWAP2     
              0x30d: POP       
              0x30e: DUP1      
              0x30f: MLOAD     
              0x310: SWAP1     
              0x311: PUSH1     0x20
              0x313: ADD       
              0x314: SWAP1     
              0x315: DUP1      
              0x316: DUP4      
              0x317: DUP4      
              0x318: PUSH1     0x0
              0x31a: JUMPDEST  
              0x31b: DUP4      
              0x31c: DUP2      
              0x31d: LT        
              0x31e: ISZERO    
              0x31f: PUSH2     0x335
              0x322: JUMPI     
              0x323: DUP1      
              0x324: DUP3      
              0x325: ADD       
              0x326: MLOAD     
              0x327: DUP2      
              0x328: DUP5      
              0x329: ADD       
              0x32a: MSTORE    
              0x32b: PUSH1     0x20
              0x32d: DUP2      
              0x32e: ADD       
              0x32f: SWAP1     
              0x330: POP       
              0x331: PUSH2     0x31a
              0x334: JUMP      
              0x335: JUMPDEST  
              0x336: POP       
              0x337: POP       
              0x338: POP       
              0x339: POP       
              0x33a: SWAP1     
              0x33b: POP       
              0x33c: SWAP1     
              0x33d: DUP2      
              0x33e: ADD       
              0x33f: SWAP1     
              0x340: PUSH1     0x1f
              0x342: AND       
              0x343: DUP1      
              0x344: ISZERO    
              0x345: PUSH2     0x362
              0x348: JUMPI     
              0x349: DUP1      
              0x34a: DUP3      
              0x34b: SUB       
              0x34c: DUP1      
              0x34d: MLOAD     
              0x34e: PUSH1     0x1
              0x350: DUP4      
              0x351: PUSH1     0x20
              0x353: SUB       
              0x354: PUSH2     0x100
              0x357: EXP       
              0x358: SUB       
              0x359: NOT       
              0x35a: AND       
              0x35b: DUP2      
              0x35c: MSTORE    
              0x35d: PUSH1     0x20
              0x35f: ADD       
              0x360: SWAP2     
              0x361: POP       
              0x362: JUMPDEST  
              0x363: POP       
              0x364: SWAP3     
              0x365: POP       
              0x366: POP       
              0x367: POP       
              0x368: PUSH1     0x40
              0x36a: MLOAD     
              0x36b: DUP1      
              0x36c: SWAP2     
              0x36d: SUB       
              0x36e: SWAP1     
              0x36f: RETURN    
              0x370: JUMPDEST  
              0x371: CALLVALUE 
              0x372: ISZERO    
              0x373: PUSH2     0x37b
              0x376: JUMPI     
              0x377: PUSH1     0x0
              0x379: DUP1      
              0x37a: REVERT    
              0x37b: JUMPDEST  
              0x37c: PUSH2     0x3b0
              0x37f: PUSH1     0x4
              0x381: DUP1      
              0x382: DUP1      
              0x383: CALLDATALOAD
              0x384: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x399: AND       
              0x39a: SWAP1     
              0x39b: PUSH1     0x20
              0x39d: ADD       
              0x39e: SWAP1     
              0x39f: SWAP2     
              0x3a0: SWAP1     
              0x3a1: DUP1      
              0x3a2: CALLDATALOAD
              0x3a3: SWAP1     
              0x3a4: PUSH1     0x20
              0x3a6: ADD       
              0x3a7: SWAP1     
              0x3a8: SWAP2     
              0x3a9: SWAP1     
              0x3aa: POP       
              0x3ab: POP       
              0x3ac: PUSH2     0xbce
              0x3af: JUMP      
              0x3b0: JUMPDEST  
              0x3b1: PUSH1     0x40
              0x3b3: MLOAD     
              0x3b4: DUP1      
              0x3b5: DUP3      
              0x3b6: ISZERO    
              0x3b7: ISZERO    
              0x3b8: ISZERO    
              0x3b9: ISZERO    
              0x3ba: DUP2      
              0x3bb: MSTORE    
              0x3bc: PUSH1     0x20
              0x3be: ADD       
              0x3bf: SWAP2     
              0x3c0: POP       
              0x3c1: POP       
              0x3c2: PUSH1     0x40
              0x3c4: MLOAD     
              0x3c5: DUP1      
              0x3c6: SWAP2     
              0x3c7: SUB       
              0x3c8: SWAP1     
              0x3c9: RETURN    
              0x3ca: JUMPDEST  
              0x3cb: PUSH2     0x3d2
              0x3ce: PUSH2     0x440
              0x3d1: JUMP      
              0x3d2: JUMPDEST  
              0x3d3: STOP      
              0x3d4: JUMPDEST  
              0x3d5: CALLVALUE 
              0x3d6: ISZERO    
              0x3d7: PUSH2     0x3df
              0x3da: JUMPI     
              0x3db: PUSH1     0x0
              0x3dd: DUP1      
              0x3de: REVERT    
              0x3df: JUMPDEST  
              0x3e0: PUSH2     0x42a
              0x3e3: PUSH1     0x4
              0x3e5: DUP1      
              0x3e6: DUP1      
              0x3e7: CALLDATALOAD
              0x3e8: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x3fd: AND       
              0x3fe: SWAP1     
              0x3ff: PUSH1     0x20
              0x401: ADD       
              0x402: SWAP1     
              0x403: SWAP2     
              0x404: SWAP1     
              0x405: DUP1      
              0x406: CALLDATALOAD
              0x407: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x41c: AND       
              0x41d: SWAP1     
              0x41e: PUSH1     0x20
              0x420: ADD       
              0x421: SWAP1     
              0x422: SWAP2     
              0x423: SWAP1     
              0x424: POP       
              0x425: POP       
              0x426: PUSH2     0xbe3
              0x429: JUMP      
              0x42a: JUMPDEST  
              0x42b: PUSH1     0x40
              0x42d: MLOAD     
              0x42e: DUP1      
              0x42f: DUP3      
              0x430: DUP2      
              0x431: MSTORE    
              0x432: PUSH1     0x20
              0x434: ADD       
              0x435: SWAP2     
              0x436: POP       
              0x437: POP       
              0x438: PUSH1     0x40
              0x43a: MLOAD     
              0x43b: DUP1      
              0x43c: SWAP2     
              0x43d: SUB       
              0x43e: SWAP1     
              0x43f: RETURN    
              0x440: JUMPDEST  
              0x441: CALLVALUE 
              0x442: PUSH1     0x3
              0x444: PUSH1     0x0
              0x446: CALLER    
              0x447: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x45c: AND       
              0x45d: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x472: AND       
              0x473: DUP2      
              0x474: MSTORE    
              0x475: PUSH1     0x20
              0x477: ADD       
              0x478: SWAP1     
              0x479: DUP2      
              0x47a: MSTORE    
              0x47b: PUSH1     0x20
              0x47d: ADD       
              0x47e: PUSH1     0x0
              0x480: SHA3      
              0x481: PUSH1     0x0
              0x483: DUP3      
              0x484: DUP3      
              0x485: SLOAD     
              0x486: ADD       
              0x487: SWAP3     
              0x488: POP       
              0x489: POP       
              0x48a: DUP2      
              0x48b: SWAP1     
              0x48c: SSTORE    
              0x48d: POP       
              0x48e: CALLER    
              0x48f: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x4a4: AND       
              0x4a5: PUSH32    0xe1fffcc4923d04b559f4d29a8bfc6cda04eb5b0d3c460751c2402c5c5cc9109c
              0x4c6: CALLVALUE 
              0x4c7: PUSH1     0x40
              0x4c9: MLOAD     
              0x4ca: DUP1      
              0x4cb: DUP3      
              0x4cc: DUP2      
              0x4cd: MSTORE    
              0x4ce: PUSH1     0x20
              0x4d0: ADD       
              0x4d1: SWAP2     
              0x4d2: POP       
              0x4d3: POP       
              0x4d4: PUSH1     0x40
              0x4d6: MLOAD     
              0x4d7: DUP1      
              0x4d8: SWAP2     
              0x4d9: SUB       
              0x4da: SWAP1     
              0x4db: LOG2      
              0x4dc: JUMP      
              0x4dd: JUMPDEST  
              0x4de: PUSH1     0x0
              0x4e0: DUP1      
              0x4e1: SLOAD     
              0x4e2: PUSH1     0x1
              0x4e4: DUP2      
              0x4e5: PUSH1     0x1
              0x4e7: AND       
              0x4e8: ISZERO    
              0x4e9: PUSH2     0x100
              0x4ec: MUL       
              0x4ed: SUB       
              0x4ee: AND       
              0x4ef: PUSH1     0x2
              0x4f1: SWAP1     
              0x4f2: DIV       
              0x4f3: DUP1      
              0x4f4: PUSH1     0x1f
              0x4f6: ADD       
              0x4f7: PUSH1     0x20
              0x4f9: DUP1      
              0x4fa: SWAP2     
              0x4fb: DIV       
              0x4fc: MUL       
              0x4fd: PUSH1     0x20
              0x4ff: ADD       
              0x500: PUSH1     0x40
              0x502: MLOAD     
              0x503: SWAP1     
              0x504: DUP2      
              0x505: ADD       
              0x506: PUSH1     0x40
              0x508: MSTORE    
              0x509: DUP1      
              0x50a: SWAP3     
              0x50b: SWAP2     
              0x50c: SWAP1     
              0x50d: DUP2      
              0x50e: DUP2      
              0x50f: MSTORE    
              0x510: PUSH1     0x20
              0x512: ADD       
              0x513: DUP3      
              0x514: DUP1      
              0x515: SLOAD     
              0x516: PUSH1     0x1
              0x518: DUP2      
              0x519: PUSH1     0x1
              0x51b: AND       
              0x51c: ISZERO    
              0x51d: PUSH2     0x100
              0x520: MUL       
              0x521: SUB       
              0x522: AND       
              0x523: PUSH1     0x2
              0x525: SWAP1     
              0x526: DIV       
              0x527: DUP1      
              0x528: ISZERO    
              0x529: PUSH2     0x573
              0x52c: JUMPI     
              0x52d: DUP1      
              0x52e: PUSH1     0x1f
              0x530: LT        
              0x531: PUSH2     0x548
              0x534: JUMPI     
              0x535: PUSH2     0x100
              0x538: DUP1      
              0x539: DUP4      
              0x53a: SLOAD     
              0x53b: DIV       
              0x53c: MUL       
              0x53d: DUP4      
              0x53e: MSTORE    
              0x53f: SWAP2     
              0x540: PUSH1     0x20
              0x542: ADD       
              0x543: SWAP2     
              0x544: PUSH2     0x573
              0x547: JUMP      
              0x548: JUMPDEST  
              0x549: DUP3      
              0x54a: ADD       
              0x54b: SWAP2     
              0x54c: SWAP1     
              0x54d: PUSH1     0x0
              0x54f: MSTORE    
              0x550: PUSH1     0x20
              0x552: PUSH1     0x0
              0x554: SHA3      
              0x555: SWAP1     
              0x556: JUMPDEST  
              0x557: DUP2      
              0x558: SLOAD     
              0x559: DUP2      
              0x55a: MSTORE    
              0x55b: SWAP1     
              0x55c: PUSH1     0x1
              0x55e: ADD       
              0x55f: SWAP1     
              0x560: PUSH1     0x20
              0x562: ADD       
              0x563: DUP1      
              0x564: DUP4      
              0x565: GT        
              0x566: PUSH2     0x556
              0x569: JUMPI     
              0x56a: DUP3      
              0x56b: SWAP1     
              0x56c: SUB       
              0x56d: PUSH1     0x1f
              0x56f: AND       
              0x570: DUP3      
              0x571: ADD       
              0x572: SWAP2     
              0x573: JUMPDEST  
              0x574: POP       
              0x575: POP       
              0x576: POP       
              0x577: POP       
              0x578: POP       
              0x579: DUP2      
              0x57a: JUMP      
              0x57b: JUMPDEST  
              0x57c: PUSH1     0x0
              0x57e: DUP2      
              0x57f: PUSH1     0x4
              0x581: PUSH1     0x0
              0x583: CALLER    
              0x584: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x599: AND       
              0x59a: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x5af: AND       
              0x5b0: DUP2      
              0x5b1: MSTORE    
              0x5b2: PUSH1     0x20
              0x5b4: ADD       
              0x5b5: SWAP1     
              0x5b6: DUP2      
              0x5b7: MSTORE    
              0x5b8: PUSH1     0x20
              0x5ba: ADD       
              0x5bb: PUSH1     0x0
              0x5bd: SHA3      
              0x5be: PUSH1     0x0
              0x5c0: DUP6      
              0x5c1: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x5d6: AND       
              0x5d7: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x5ec: AND       
              0x5ed: DUP2      
              0x5ee: MSTORE    
              0x5ef: PUSH1     0x20
              0x5f1: ADD       
              0x5f2: SWAP1     
              0x5f3: DUP2      
              0x5f4: MSTORE    
              0x5f5: PUSH1     0x20
              0x5f7: ADD       
              0x5f8: PUSH1     0x0
              0x5fa: SHA3      
              0x5fb: DUP2      
              0x5fc: SWAP1     
              0x5fd: SSTORE    
              0x5fe: POP       
              0x5ff: DUP3      
              0x600: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x615: AND       
              0x616: CALLER    
              0x617: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x62c: AND       
              0x62d: PUSH32    0x8c5be1e5ebec7d5bd14f71427d1e84f3dd0314c0f7b2291e5b200ac8c7c3b925
              0x64e: DUP5      
              0x64f: PUSH1     0x40
              0x651: MLOAD     
              0x652: DUP1      
              0x653: DUP3      
              0x654: DUP2      
              0x655: MSTORE    
              0x656: PUSH1     0x20
              0x658: ADD       
              0x659: SWAP2     
              0x65a: POP       
              0x65b: POP       
              0x65c: PUSH1     0x40
              0x65e: MLOAD     
              0x65f: DUP1      
              0x660: SWAP2     
              0x661: SUB       
              0x662: SWAP1     
              0x663: LOG3      
              0x664: PUSH1     0x1
              0x666: SWAP1     
              0x667: POP       
              0x668: SWAP3     
              0x669: SWAP2     
              0x66a: POP       
              0x66b: POP       
              0x66c: JUMP      
              0x66d: JUMPDEST  
              0x66e: PUSH1     0x0
              0x670: ADDRESS   
              0x671: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x686: AND       
              0x687: BALANCE   
              0x688: SWAP1     
              0x689: POP       
              0x68a: SWAP1     
              0x68b: JUMP      
              0x68c: JUMPDEST  
              0x68d: PUSH1     0x0
              0x68f: DUP2      
              0x690: PUSH1     0x3
              0x692: PUSH1     0x0
              0x694: DUP7      
              0x695: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x6aa: AND       
              0x6ab: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x6c0: AND       
              0x6c1: DUP2      
              0x6c2: MSTORE    
              0x6c3: PUSH1     0x20
              0x6c5: ADD       
              0x6c6: SWAP1     
              0x6c7: DUP2      
              0x6c8: MSTORE    
              0x6c9: PUSH1     0x20
              0x6cb: ADD       
              0x6cc: PUSH1     0x0
              0x6ce: SHA3      
              0x6cf: SLOAD     
              0x6d0: LT        
              0x6d1: ISZERO    
              0x6d2: ISZERO    
              0x6d3: ISZERO    
              0x6d4: PUSH2     0x6dc
              0x6d7: JUMPI     
              0x6d8: PUSH1     0x0
              0x6da: DUP1      
              0x6db: REVERT    
              0x6dc: JUMPDEST  
              0x6dd: CALLER    
              0x6de: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x6f3: AND       
              0x6f4: DUP5      
              0x6f5: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x70a: AND       
              0x70b: EQ        
              0x70c: ISZERO    
              0x70d: DUP1      
              0x70e: ISZERO    
              0x70f: PUSH2     0x7b4
              0x712: JUMPI     
              0x713: POP       
              0x714: PUSH32    0xffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
              0x735: PUSH1     0x4
              0x737: PUSH1     0x0
              0x739: DUP7      
              0x73a: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x74f: AND       
              0x750: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x765: AND       
              0x766: DUP2      
              0x767: MSTORE    
              0x768: PUSH1     0x20
              0x76a: ADD       
              0x76b: SWAP1     
              0x76c: DUP2      
              0x76d: MSTORE    
              0x76e: PUSH1     0x20
              0x770: ADD       
              0x771: PUSH1     0x0
              0x773: SHA3      
              0x774: PUSH1     0x0
              0x776: CALLER    
              0x777: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x78c: AND       
              0x78d: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x7a2: AND       
              0x7a3: DUP2      
              0x7a4: MSTORE    
              0x7a5: PUSH1     0x20
              0x7a7: ADD       
              0x7a8: SWAP1     
              0x7a9: DUP2      
              0x7aa: MSTORE    
              0x7ab: PUSH1     0x20
              0x7ad: ADD       
              0x7ae: PUSH1     0x0
              0x7b0: SHA3      
              0x7b1: SLOAD     
              0x7b2: EQ        
              0x7b3: ISZERO    
              0x7b4: JUMPDEST  
              0x7b5: ISZERO    
              0x7b6: PUSH2     0x8cf
              0x7b9: JUMPI     
              0x7ba: DUP2      
              0x7bb: PUSH1     0x4
              0x7bd: PUSH1     0x0
              0x7bf: DUP7      
              0x7c0: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x7d5: AND       
              0x7d6: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x7eb: AND       
              0x7ec: DUP2      
              0x7ed: MSTORE    
              0x7ee: PUSH1     0x20
              0x7f0: ADD       
              0x7f1: SWAP1     
              0x7f2: DUP2      
              0x7f3: MSTORE    
              0x7f4: PUSH1     0x20
              0x7f6: ADD       
              0x7f7: PUSH1     0x0
              0x7f9: SHA3      
              0x7fa: PUSH1     0x0
              0x7fc: CALLER    
              0x7fd: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x812: AND       
              0x813: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x828: AND       
              0x829: DUP2      
              0x82a: MSTORE    
              0x82b: PUSH1     0x20
              0x82d: ADD       
              0x82e: SWAP1     
              0x82f: DUP2      
              0x830: MSTORE    
              0x831: PUSH1     0x20
              0x833: ADD       
              0x834: PUSH1     0x0
              0x836: SHA3      
              0x837: SLOAD     
              0x838: LT        
              0x839: ISZERO    
              0x83a: ISZERO    
              0x83b: ISZERO    
              0x83c: PUSH2     0x844
              0x83f: JUMPI     
              0x840: PUSH1     0x0
              0x842: DUP1      
              0x843: REVERT    
              0x844: JUMPDEST  
              0x845: DUP2      
              0x846: PUSH1     0x4
              0x848: PUSH1     0x0
              0x84a: DUP7      
              0x84b: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x860: AND       
              0x861: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x876: AND       
              0x877: DUP2      
              0x878: MSTORE    
              0x879: PUSH1     0x20
              0x87b: ADD       
              0x87c: SWAP1     
              0x87d: DUP2      
              0x87e: MSTORE    
              0x87f: PUSH1     0x20
              0x881: ADD       
              0x882: PUSH1     0x0
              0x884: SHA3      
              0x885: PUSH1     0x0
              0x887: CALLER    
              0x888: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x89d: AND       
              0x89e: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x8b3: AND       
              0x8b4: DUP2      
              0x8b5: MSTORE    
              0x8b6: PUSH1     0x20
              0x8b8: ADD       
              0x8b9: SWAP1     
              0x8ba: DUP2      
              0x8bb: MSTORE    
              0x8bc: PUSH1     0x20
              0x8be: ADD       
              0x8bf: PUSH1     0x0
              0x8c1: SHA3      
              0x8c2: PUSH1     0x0
              0x8c4: DUP3      
              0x8c5: DUP3      
              0x8c6: SLOAD     
              0x8c7: SUB       
              0x8c8: SWAP3     
              0x8c9: POP       
              0x8ca: POP       
              0x8cb: DUP2      
              0x8cc: SWAP1     
              0x8cd: SSTORE    
              0x8ce: POP       
              0x8cf: JUMPDEST  
              0x8d0: DUP2      
              0x8d1: PUSH1     0x3
              0x8d3: PUSH1     0x0
              0x8d5: DUP7      
              0x8d6: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x8eb: AND       
              0x8ec: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x901: AND       
              0x902: DUP2      
              0x903: MSTORE    
              0x904: PUSH1     0x20
              0x906: ADD       
              0x907: SWAP1     
              0x908: DUP2      
              0x909: MSTORE    
              0x90a: PUSH1     0x20
              0x90c: ADD       
              0x90d: PUSH1     0x0
              0x90f: SHA3      
              0x910: PUSH1     0x0
              0x912: DUP3      
              0x913: DUP3      
              0x914: SLOAD     
              0x915: SUB       
              0x916: SWAP3     
              0x917: POP       
              0x918: POP       
              0x919: DUP2      
              0x91a: SWAP1     
              0x91b: SSTORE    
              0x91c: POP       
              0x91d: DUP2      
              0x91e: PUSH1     0x3
              0x920: PUSH1     0x0
              0x922: DUP6      
              0x923: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x938: AND       
              0x939: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x94e: AND       
              0x94f: DUP2      
              0x950: MSTORE    
              0x951: PUSH1     0x20
              0x953: ADD       
              0x954: SWAP1     
              0x955: DUP2      
              0x956: MSTORE    
              0x957: PUSH1     0x20
              0x959: ADD       
              0x95a: PUSH1     0x0
              0x95c: SHA3      
              0x95d: PUSH1     0x0
              0x95f: DUP3      
              0x960: DUP3      
              0x961: SLOAD     
              0x962: ADD       
              0x963: SWAP3     
              0x964: POP       
              0x965: POP       
              0x966: DUP2      
              0x967: SWAP1     
              0x968: SSTORE    
              0x969: POP       
              0x96a: DUP3      
              0x96b: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x980: AND       
              0x981: DUP5      
              0x982: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x997: AND       
              0x998: PUSH32    0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef
              0x9b9: DUP5      
              0x9ba: PUSH1     0x40
              0x9bc: MLOAD     
              0x9bd: DUP1      
              0x9be: DUP3      
              0x9bf: DUP2      
              0x9c0: MSTORE    
              0x9c1: PUSH1     0x20
              0x9c3: ADD       
              0x9c4: SWAP2     
              0x9c5: POP       
              0x9c6: POP       
              0x9c7: PUSH1     0x40
              0x9c9: MLOAD     
              0x9ca: DUP1      
              0x9cb: SWAP2     
              0x9cc: SUB       
              0x9cd: SWAP1     
              0x9ce: LOG3      
              0x9cf: PUSH1     0x1
              0x9d1: SWAP1     
              0x9d2: POP       
              0x9d3: SWAP4     
              0x9d4: SWAP3     
              0x9d5: POP       
              0x9d6: POP       
              0x9d7: POP       
              0x9d8: JUMP      
              0x9d9: JUMPDEST  
              0x9da: DUP1      
              0x9db: PUSH1     0x3
              0x9dd: PUSH1     0x0
              0x9df: CALLER    
              0x9e0: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0x9f5: AND       
              0x9f6: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0xa0b: AND       
              0xa0c: DUP2      
              0xa0d: MSTORE    
              0xa0e: PUSH1     0x20
              0xa10: ADD       
              0xa11: SWAP1     
              0xa12: DUP2      
              0xa13: MSTORE    
              0xa14: PUSH1     0x20
              0xa16: ADD       
              0xa17: PUSH1     0x0
              0xa19: SHA3      
              0xa1a: SLOAD     
              0xa1b: LT        
              0xa1c: ISZERO    
              0xa1d: ISZERO    
              0xa1e: ISZERO    
              0xa1f: PUSH2     0xa27
              0xa22: JUMPI     
              0xa23: PUSH1     0x0
              0xa25: DUP1      
              0xa26: REVERT    
              0xa27: JUMPDEST  
              0xa28: DUP1      
              0xa29: PUSH1     0x3
              0xa2b: PUSH1     0x0
              0xa2d: CALLER    
              0xa2e: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0xa43: AND       
              0xa44: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0xa59: AND       
              0xa5a: DUP2      
              0xa5b: MSTORE    
              0xa5c: PUSH1     0x20
              0xa5e: ADD       
              0xa5f: SWAP1     
              0xa60: DUP2      
              0xa61: MSTORE    
              0xa62: PUSH1     0x20
              0xa64: ADD       
              0xa65: PUSH1     0x0
              0xa67: SHA3      
              0xa68: PUSH1     0x0
              0xa6a: DUP3      
              0xa6b: DUP3      
              0xa6c: SLOAD     
              0xa6d: SUB       
              0xa6e: SWAP3     
              0xa6f: POP       
              0xa70: POP       
              0xa71: DUP2      
              0xa72: SWAP1     
              0xa73: SSTORE    
              0xa74: POP       
              0xa75: CALLER    
              0xa76: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0xa8b: AND       
              0xa8c: PUSH2     0x8fc
              0xa8f: DUP3      
              0xa90: SWAP1     
              0xa91: DUP2      
              0xa92: ISZERO    
              0xa93: MUL       
              0xa94: SWAP1     
              0xa95: PUSH1     0x40
              0xa97: MLOAD     
              0xa98: PUSH1     0x0
              0xa9a: PUSH1     0x40
              0xa9c: MLOAD     
              0xa9d: DUP1      
              0xa9e: DUP4      
              0xa9f: SUB       
              0xaa0: DUP2      
              0xaa1: DUP6      
              0xaa2: DUP9      
              0xaa3: DUP9      
              0xaa4: CALL      
              0xaa5: SWAP4     
              0xaa6: POP       
              0xaa7: POP       
              0xaa8: POP       
              0xaa9: POP       
              0xaaa: ISZERO    
              0xaab: ISZERO    
              0xaac: PUSH2     0xab4
              0xaaf: JUMPI     
              0xab0: PUSH1     0x0
              0xab2: DUP1      
              0xab3: REVERT    
              0xab4: JUMPDEST  
              0xab5: CALLER    
              0xab6: PUSH20    0xffffffffffffffffffffffffffffffffffffffff
              0xacb: AND       
              0xacc: PUSH32    0x7fcf532c15f0a6db0bd6d0e038bea71d30d808c7d98cb3bf7268a95bf5081b65
              0xaed: DUP3      
              0xaee: PUSH1     0x40
              0xaf0: MLOAD     
              0xaf1: DUP1      
              0xaf2: DUP3      
              0xaf3: DUP2      
              0xaf4: MSTORE    
              0xaf5: PUSH1     0x20
              0xaf7: ADD       
              0xaf8: SWAP2     
              0xaf9: POP       
              0xafa: POP       
              0xafb: PUSH1     0x40
              0xafd: MLOAD     
              0xafe: DUP1      
              0xaff: SWAP2     
              0xb00: SUB       
              0xb01: SWAP1     
              0xb02: LOG2      
              0xb03: POP       
              0xb04: JUMP      
              0xb05: JUMPDEST  
              0xb06: PUSH1     0x2
              0xb08: PUSH1     0x0
              0xb0a: SWAP1     
              0xb0b: SLOAD     
              0xb0c: SWAP1     
              0xb0d: PUSH2     0x100
              0xb10: EXP       
              0xb11: SWAP1     
              0xb12: DIV       
              0xb13: PUSH1     0xff
              0xb15: AND       
              0xb16: DUP2      
              0xb17: JUMP      
              0xb18: JUMPDEST  
              0xb19: PUSH1     0x3
              0xb1b: PUSH1     0x20
              0xb1d: MSTORE    
              0xb1e: DUP1      
              0xb1f: PUSH1     0x0
              0xb21: MSTORE    
              0xb22: PUSH1     0x40
              0xb24: PUSH1     0x0
              0xb26: SHA3      
              0xb27: PUSH1     0x0
              0xb29: SWAP2     
              0xb2a: POP       
              0xb2b: SWAP1     
              0xb2c: POP       
              0xb2d: SLOAD     
              0xb2e: DUP2      
              0xb2f: JUMP      
              0xb30: JUMPDEST  
              0xb31: PUSH1     0x1
              0xb33: DUP1      
              0xb34: SLOAD     
              0xb35: PUSH1     0x1
              0xb37: DUP2      
              0xb38: PUSH1     0x1
              0xb3a: AND       
              0xb3b: ISZERO    
              0xb3c: PUSH2     0x100
              0xb3f: MUL       
              0xb40: SUB       
              0xb41: AND       
              0xb42: PUSH1     0x2
              0xb44: SWAP1     
              0xb45: DIV       
              0xb46: DUP1      
              0xb47: PUSH1     0x1f
              0xb49: ADD       
              0xb4a: PUSH1     0x20
              0xb4c: DUP1      
              0xb4d: SWAP2     
              0xb4e: DIV       
              0xb4f: MUL       
              0xb50: PUSH1     0x20
              0xb52: ADD       
              0xb53: PUSH1     0x40
              0xb55: MLOAD     
              0xb56: SWAP1     
              0xb57: DUP2      
              0xb58: ADD       
              0xb59: PUSH1     0x40
              0xb5b: MSTORE    
              0xb5c: DUP1      
              0xb5d: SWAP3     
              0xb5e: SWAP2     
              0xb5f: SWAP1     
              0xb60: DUP2      
              0xb61: DUP2      
              0xb62: MSTORE    
              0xb63: PUSH1     0x20
              0xb65: ADD       
              0xb66: DUP3      
              0xb67: DUP1      
              0xb68: SLOAD     
              0xb69: PUSH1     0x1
              0xb6b: DUP2      
              0xb6c: PUSH1     0x1
              0xb6e: AND       
              0xb6f: ISZERO    
              0xb70: PUSH2     0x100
              0xb73: MUL       
              0xb74: SUB       
              0xb75: AND       
              0xb76: PUSH1     0x2
              0xb78: SWAP1     
              0xb79: DIV       
              0xb7a: DUP1      
              0xb7b: ISZERO    
              0xb7c: PUSH2     0xbc6
              0xb7f: JUMPI     
              0xb80: DUP1      
              0xb81: PUSH1     0x1f
              0xb83: LT        
              0xb84: PUSH2     0xb9b
              0xb87: JUMPI     
              0xb88: PUSH2     0x100
              0xb8b: DUP1      
              0xb8c: DUP4      
              0xb8d: SLOAD     
              0xb8e: DIV       
              0xb8f: MUL       
              0xb90: DUP4      
              0xb91: MSTORE    
              0xb92: SWAP2     
              0xb93: PUSH1     0x20
              0xb95: ADD       
              0xb96: SWAP2     
              0xb97: PUSH2     0xbc6
              0xb9a: JUMP      
              0xb9b: JUMPDEST  
              0xb9c: DUP3      
              0xb9d: ADD       
              0xb9e: SWAP2     
              0xb9f: SWAP1     
              0xba0: PUSH1     0x0
              0xba2: MSTORE    
              0xba3: PUSH1     0x20
              0xba5: PUSH1     0x0
              0xba7: SHA3      
              0xba8: SWAP1     
              0xba9: JUMPDEST  
              0xbaa: DUP2      
              0xbab: SLOAD     
              0xbac: DUP2      
              0xbad: MSTORE    
              0xbae: SWAP1     
              0xbaf: PUSH1     0x1
              0xbb1: ADD       
              0xbb2: SWAP1     
              0xbb3: PUSH1     0x20
              0xbb5: ADD       
              0xbb6: DUP1      
              0xbb7: DUP4      
              0xbb8: GT        
              0xbb9: PUSH2     0xba9
              0xbbc: JUMPI     
              0xbbd: DUP3      
              0xbbe: SWAP1     
              0xbbf: SUB       
              0xbc0: PUSH1     0x1f
              0xbc2: AND       
              0xbc3: DUP3      
              0xbc4: ADD       
              0xbc5: SWAP2     
              0xbc6: JUMPDEST  
              0xbc7: POP       
              0xbc8: POP       
              0xbc9: POP       
              0xbca: POP       
              0xbcb: POP       
              0xbcc: DUP2      
              0xbcd: JUMP      
              0xbce: JUMPDEST  
              0xbcf: PUSH1     0x0
              0xbd1: PUSH2     0xbdb
              0xbd4: CALLER    
              0xbd5: DUP5      
              0xbd6: DUP5      
              0xbd7: PUSH2     0x68c
              0xbda: JUMP      
              0xbdb: JUMPDEST  
              0xbdc: SWAP1     
              0xbdd: POP       
              0xbde: SWAP3     
              0xbdf: SWAP2     
              0xbe0: POP       
              0xbe1: POP       
              0xbe2: JUMP      
              0xbe3: JUMPDEST  
              0xbe4: PUSH1     0x4
              0xbe6: PUSH1     0x20
              0xbe8: MSTORE    
              0xbe9: DUP2      
              0xbea: PUSH1     0x0
              0xbec: MSTORE    
              0xbed: PUSH1     0x40
              0xbef: PUSH1     0x0
              0xbf1: SHA3      
              0xbf2: PUSH1     0x20
              0xbf4: MSTORE    
              0xbf5: DUP1      
              0xbf6: PUSH1     0x0
              0xbf8: MSTORE    
              0xbf9: PUSH1     0x40
              0xbfb: PUSH1     0x0
              0xbfd: SHA3      
              0xbfe: PUSH1     0x0
              0xc00: SWAP2     
              0xc01: POP       
              0xc02: SWAP2     
              0xc03: POP       
              0xc04: POP       
              0xc05: SLOAD     
              0xc06: DUP2      
              0xc07: JUMP      
              0xc08: STOP      
              0xc09: LOG1      
              0xc0a: PUSH6     0x627a7a723058
              0xc11: SHA3      
              0xc12: MISSING   
              0xc13: MISSING   
              0xc14: MISSING   
              0xc15: MISSING   
              0xc16: MISSING   
              0xc17: EXTCODECOPY
              0xc18: MISSING   
              0xc19: MISSING   
              0xc1a: LOG3      
              0xc1b: MISSING   
              0xc1c: MISSING   
              0xc1d: DELEGATECALL
              0xc1e: PUSH8     0x28389c2fe2c165d5
              0xc27: STATICCALL
              0xc28: STATICCALL
              0xc29: SMOD      
              0xc2a: PUSH7     0x1e4e004f6c344a
              0xc32: STOP      
              0xc33: MISSING   
        tac:
          title: Tac
          type: string
          example: >+
            function __function_selector__() public {
                Begin block 0x0
                prev=[], succ=[0xd, 0xce8]
                =================================
                0x0: v0(0x60) = CONST 
                0x2: v2(0x40) = CONST 
                0x4: MSTORE v2(0x40), v0(0x60)
                0x5: v5(0x4) = CONST 
                0x7: v7 = CALLDATASIZE 
                0x8: v8 = LT v7, v5(0x4)
                0xcd0: vcd0(0xce8) = CONST 
                0xcd1: JUMPI vcd0(0xce8), v8

                Begin block 0xd
                prev=[0x0], succ=[0xceb, 0x41]
                =================================
                0xd: vd(0x0) = CONST 
                0xf: vf = CALLDATALOAD vd(0x0)
                0x10: v10(0x100000000000000000000000000000000000000000000000000000000) = CONST 
                0x2f: v2f = DIV vf, v10(0x100000000000000000000000000000000000000000000000000000000)
                0x30: v30(0xffffffff) = CONST 
                0x35: v35 = AND v30(0xffffffff), v2f
                0x37: v37(0x6fdde03) = CONST 
                0x3c: v3c = EQ v37(0x6fdde03), v35
                0xcd2: vcd2(0xceb) = CONST 
                0xcd3: JUMPI vcd2(0xceb), v3c

                Begin block 0xceb
                prev=[0xd], succ=[]
                =================================
                0xcec: vcec(0xb9) = CONST 
                0xced: CALLPRIVATE vcec(0xb9)

                Begin block 0x41
                prev=[0xd], succ=[0xcee, 0x4c]
                =================================
                0x42: v42(0x95ea7b3) = CONST 
                0x47: v47 = EQ v42(0x95ea7b3), v35
                0xcd4: vcd4(0xcee) = CONST 
                0xcd5: JUMPI vcd4(0xcee), v47

                Begin block 0xcee
                prev=[0x41], succ=[]
                =================================
                0xcef: vcef(0x147) = CONST 
                0xcf0: CALLPRIVATE vcef(0x147)

                Begin block 0x4c
                prev=[0x41], succ=[0xcf1, 0x57]
                =================================
                0x4d: v4d(0x18160ddd) = CONST 
                0x52: v52 = EQ v4d(0x18160ddd), v35
                0xcd6: vcd6(0xcf1) = CONST 
                0xcd7: JUMPI vcd6(0xcf1), v52

                Begin block 0xcf1
                prev=[0x4c], succ=[]
                =================================
                0xcf2: vcf2(0x1a1) = CONST 
                0xcf3: CALLPRIVATE vcf2(0x1a1)

                Begin block 0x57
                prev=[0x4c], succ=[0xcf4, 0x62]
                =================================
                0x58: v58(0x23b872dd) = CONST 
                0x5d: v5d = EQ v58(0x23b872dd), v35
                0xcd8: vcd8(0xcf4) = CONST 
                0xcd9: JUMPI vcd8(0xcf4), v5d

                Begin block 0xcf4
                prev=[0x57], succ=[]
                =================================
                0xcf5: vcf5(0x1ca) = CONST 
                0xcf6: CALLPRIVATE vcf5(0x1ca)

                Begin block 0x62
                prev=[0x57], succ=[0xcf7, 0x6d]
                =================================
                0x63: v63(0x2e1a7d4d) = CONST 
                0x68: v68 = EQ v63(0x2e1a7d4d), v35
                0xcda: vcda(0xcf7) = CONST 
                0xcdb: JUMPI vcda(0xcf7), v68

                Begin block 0xcf7
                prev=[0x62], succ=[]
                =================================
                0xcf8: vcf8(0x243) = CONST 
                0xcf9: CALLPRIVATE vcf8(0x243)

                Begin block 0x6d
                prev=[0x62], succ=[0xcfa, 0x78]
                =================================
                0x6e: v6e(0x313ce567) = CONST 
                0x73: v73 = EQ v6e(0x313ce567), v35
                0xcdc: vcdc(0xcfa) = CONST 
                0xcdd: JUMPI vcdc(0xcfa), v73

                Begin block 0xcfa
                prev=[0x6d], succ=[]
                =================================
                0xcfb: vcfb(0x266) = CONST 
                0xcfc: CALLPRIVATE vcfb(0x266)

                Begin block 0x78
                prev=[0x6d], succ=[0xcfd, 0x83]
                =================================
                0x79: v79(0x70a08231) = CONST 
                0x7e: v7e = EQ v79(0x70a08231), v35
                0xcde: vcde(0xcfd) = CONST 
                0xcdf: JUMPI vcde(0xcfd), v7e

                Begin block 0xcfd
                prev=[0x78], succ=[]
                =================================
                0xcfe: vcfe(0x295) = CONST 
                0xcff: CALLPRIVATE vcfe(0x295)

                Begin block 0x83
                prev=[0x78], succ=[0xd00, 0x8e]
                =================================
                0x84: v84(0x95d89b41) = CONST 
                0x89: v89 = EQ v84(0x95d89b41), v35
                0xce0: vce0(0xd00) = CONST 
                0xce1: JUMPI vce0(0xd00), v89

                Begin block 0xd00
                prev=[0x83], succ=[]
                =================================
                0xd01: vd01(0x2e2) = CONST 
                0xd02: CALLPRIVATE vd01(0x2e2)

                Begin block 0x8e
                prev=[0x83], succ=[0xd03, 0x99]
                =================================
                0x8f: v8f(0xa9059cbb) = CONST 
                0x94: v94 = EQ v8f(0xa9059cbb), v35
                0xce2: vce2(0xd03) = CONST 
                0xce3: JUMPI vce2(0xd03), v94

                Begin block 0xd03
                prev=[0x8e], succ=[]
                =================================
                0xd04: vd04(0x370) = CONST 
                0xd05: CALLPRIVATE vd04(0x370)

                Begin block 0x99
                prev=[0x8e], succ=[0xd06, 0xa4]
                =================================
                0x9a: v9a(0xd0e30db0) = CONST 
                0x9f: v9f = EQ v9a(0xd0e30db0), v35
                0xce4: vce4(0xd06) = CONST 
                0xce5: JUMPI vce4(0xd06), v9f

                Begin block 0xd06
                prev=[0x99], succ=[]
                =================================
                0xd07: vd07(0x3ca) = CONST 
                0xd08: CALLPRIVATE vd07(0x3ca)

                Begin block 0xa4
                prev=[0x99], succ=[0xce8, 0xd09]
                =================================
                0xa5: va5(0xdd62ed3e) = CONST 
                0xaa: vaa = EQ va5(0xdd62ed3e), v35
                0xce6: vce6(0xd09) = CONST 
                0xce7: JUMPI vce6(0xd09), vaa

                Begin block 0xce8
                prev=[0x0, 0xa4], succ=[]
                =================================
                0xce9: vce9(0xaf) = CONST 
                0xcea: CALLPRIVATE vce9(0xaf)

                Begin block 0xd09
                prev=[0xa4], succ=[]
                =================================
                0xd0a: vd0a(0x3d4) = CONST 
                0xd0b: CALLPRIVATE vd0a(0x3d4)

            }


            function approve(address,uint256)() public {
                Begin block 0x147
                prev=[], succ=[0x14e, 0x152]
                =================================
                0x148: v148 = CALLVALUE 
                0x149: v149 = ISZERO v148
                0x14a: v14a(0x152) = CONST 
                0x14d: JUMPI v14a(0x152), v149

                Begin block 0x14e
                prev=[0x147], succ=[]
                =================================
                0x14e: v14e(0x0) = CONST 
                0x151: REVERT v14e(0x0), v14e(0x0)

                Begin block 0x152
                prev=[0x147], succ=[0x57b]
                =================================
                0x153: v153(0x187) = CONST 
                0x156: v156(0x4) = CONST 
                0x15a: v15a = CALLDATALOAD v156(0x4)
                0x15b: v15b(0xffffffffffffffffffffffffffffffffffffffff) = CONST 
                0x170: v170 = AND v15b(0xffffffffffffffffffffffffffffffffffffffff), v15a
                0x172: v172(0x20) = CONST 
                0x174: v174(0x24) = ADD v172(0x20), v156(0x4)
                0x179: v179 = CALLDATALOAD v174(0x24)
                0x17b: v17b(0x20) = CONST 
                0x17d: v17d(0x44) = ADD v17b(0x20), v174(0x24)
                0x183: v183(0x57b) = CONST 
                0x186: JUMP v183(0x57b)

                Begin block 0x57b
                prev=[0x152], succ=[0x187]
                =================================
                0x57c: v57c(0x0) = CONST 
                0x57f: v57f(0x4) = CONST 
                0x581: v581(0x0) = CONST 
                0x583: v583 = CALLER 
                0x584: v584(0xffffffffffffffffffffffffffffffffffffffff) = CONST 
                0x599: v599 = AND v584(0xffffffffffffffffffffffffffffffffffffffff), v583
                0x59a: v59a(0xffffffffffffffffffffffffffffffffffffffff) = CONST 
                0x5af: v5af = AND v59a(0xffffffffffffffffffffffffffffffffffffffff), v599
                0x5b1: MSTORE v581(0x0), v5af
                0x5b2: v5b2(0x20) = CONST 
                0x5b4: v5b4(0x20) = ADD v5b2(0x20), v581(0x0)
                0x5b7: MSTORE v5b4(0x20), v57f(0x4)
                0x5b8: v5b8(0x20) = CONST 
                0x5ba: v5ba(0x40) = ADD v5b8(0x20), v5b4(0x20)
                0x5bb: v5bb(0x0) = CONST 
                0x5bd: v5bd = SHA3 v5bb(0x0), v5ba(0x40)
                0x5be: v5be(0x0) = CONST 
                0x5c1: v5c1(0xffffffffffffffffffffffffffffffffffffffff) = CONST 
                0x5d6: v5d6 = AND v5c1(0xffffffffffffffffffffffffffffffffffffffff), v170
                0x5d7: v5d7(0xffffffffffffffffffffffffffffffffffffffff) = CONST 
                0x5ec: v5ec = AND v5d7(0xffffffffffffffffffffffffffffffffffffffff), v5d6
                0x5ee: MSTORE v5be(0x0), v5ec
                0x5ef: v5ef(0x20) = CONST 
                0x5f1: v5f1(0x20) = ADD v5ef(0x20), v5be(0x0)
                0x5f4: MSTORE v5f1(0x20), v5bd
                0x5f5: v5f5(0x20) = CONST 
                0x5f7: v5f7(0x40) = ADD v5f5(0x20), v5f1(0x20)
                0x5f8: v5f8(0x0) = CONST 
                0x5fa: v5fa = SHA3 v5f8(0x0), v5f7(0x40)
                0x5fd: SSTORE v5fa, v179
                0x600: v600(0xffffffffffffffffffffffffffffffffffffffff) = CONST 
                0x615: v615 = AND v600(0xffffffffffffffffffffffffffffffffffffffff), v170
                0x616: v616 = CALLER 
                0x617: v617(0xffffffffffffffffffffffffffffffffffffffff) = CONST 
                0x62c: v62c = AND v617(0xffffffffffffffffffffffffffffffffffffffff), v616
                0x62d: v62d(0x8c5be1e5ebec7d5bd14f71427d1e84f3dd0314c0f7b2291e5b200ac8c7c3b925) = CONST 
                0x64f: v64f(0x40) = CONST 
                0x651: v651 = MLOAD v64f(0x40)
                0x655: MSTORE v651, v179
                0x656: v656(0x20) = CONST 
                0x658: v658 = ADD v656(0x20), v651
                0x65c: v65c(0x40) = CONST 
                0x65e: v65e = MLOAD v65c(0x40)
                0x661: v661(0x20) = SUB v658, v65e
                0x663: LOG3 v65e, v661(0x20), v62d(0x8c5be1e5ebec7d5bd14f71427d1e84f3dd0314c0f7b2291e5b200ac8c7c3b925), v62c, v615
                0x664: v664(0x1) = CONST 
                0x66c: JUMP v153(0x187)

                Begin block 0x187
                prev=[0x57b], succ=[]
                =================================
                0x188: v188(0x40) = CONST 
                0x18a: v18a = MLOAD v188(0x40)
                0x18d: v18d = ISZERO v664(0x1)
                0x18e: v18e = ISZERO v18d
                0x18f: v18f = ISZERO v18e
                0x190: v190 = ISZERO v18f
                0x192: MSTORE v18a, v190
                0x193: v193(0x20) = CONST 
                0x195: v195 = ADD v193(0x20), v18a
                0x199: v199(0x40) = CONST 
                0x19b: v19b = MLOAD v199(0x40)
                0x19e: v19e(0x20) = SUB v195, v19b
                0x1a0: RETURN v19b, v19e(0x20)

            }


            function totalSupply()() public {
                Begin block 0x1a1
                prev=[], succ=[0x1a8, 0x1ac]
                =================================
                0x1a2: v1a2 = CALLVALUE 
                0x1a3: v1a3 = ISZERO v1a2
                0x1a4: v1a4(0x1ac) = CONST 
                0x1a7: JUMPI v1a4(0x1ac), v1a3

                Begin block 0x1a8
                prev=[0x1a1], succ=[]
                =================================
                0x1a8: v1a8(0x0) = CONST 
                0x1ab: REVERT v1a8(0x0), v1a8(0x0)

                Begin block 0x1ac
                prev=[0x1a1], succ=[0x66d]
                =================================
                0x1ad: v1ad(0x1b4) = CONST 
                0x1b0: v1b0(0x66d) = CONST 
                0x1b3: JUMP v1b0(0x66d)

                Begin block 0x66d
                prev=[0x1ac], succ=[0x1b4]
                =================================
                0x66e: v66e(0x0) = CONST 
                0x670: v670 = ADDRESS 
                0x671: v671(0xffffffffffffffffffffffffffffffffffffffff) = CONST 
                0x686: v686 = AND v671(0xffffffffffffffffffffffffffffffffffffffff), v670
                0x687: v687 = BALANCE v686
                0x68b: JUMP v1ad(0x1b4)

                Begin block 0x1b4
                prev=[0x66d], succ=[]
                =================================
                0x1b5: v1b5(0x40) = CONST 
                0x1b7: v1b7 = MLOAD v1b5(0x40)
                0x1bb: MSTORE v1b7, v687
                0x1bc: v1bc(0x20) = CONST 
                0x1be: v1be = ADD v1bc(0x20), v1b7
                0x1c2: v1c2(0x40) = CONST 
                0x1c4: v1c4 = MLOAD v1c2(0x40)
                0x1c7: v1c7(0x20) = SUB v1be, v1c4
                0x1c9: RETURN v1c4, v1c7(0x20)

            }


            function transferFrom(address,address,uint256)() public {
                Begin block 0x1ca
                prev=[], succ=[0x1d1, 0x1d5]
                =================================
                0x1cb: v1cb = CALLVALUE 
                0x1cc: v1cc = ISZERO v1cb
                0x1cd: v1cd(0x1d5) = CONST 
                0x1d0: JUMPI v1cd(0x1d5), v1cc

                Begin block 0x1d1
                prev=[0x1ca], succ=[]
                =================================
                0x1d1: v1d1(0x0) = CONST 
                0x1d4: REVERT v1d1(0x0), v1d1(0x0)

                Begin block 0x1d5
                prev=[0x1ca], succ=[0x229]
                =================================
                0x1d6: v1d6(0x229) = CONST 
                0x1d9: v1d9(0x4) = CONST 
                0x1dd: v1dd = CALLDATALOAD v1d9(0x4)
                0x1de: v1de(0xffffffffffffffffffffffffffffffffffffffff) = CONST 
                0x1f3: v1f3 = AND v1de(0xffffffffffffffffffffffffffffffffffffffff), v1dd
                0x1f5: v1f5(0x20) = CONST 
                0x1f7: v1f7(0x24) = ADD v1f5(0x20), v1d9(0x4)
                0x1fc: v1fc = CALLDATALOAD v1f7(0x24)
                0x1fd: v1fd(0xffffffffffffffffffffffffffffffffffffffff) = CONST 
                0x212: v212 = AND v1fd(0xffffffffffffffffffffffffffffffffffffffff), v1fc
                0x214: v214(0x20) = CONST 
                0x216: v216(0x44) = ADD v214(0x20), v1f7(0x24)
                0x21b: v21b = CALLDATALOAD v216(0x44)
                0x21d: v21d(0x20) = CONST 
                0x21f: v21f(0x64) = ADD v21d(0x20), v216(0x44)
                0x225: v225(0x68c) = CONST 
                0x228: v228_0 = CALLPRIVATE v225(0x68c), v21b, v212, v1f3, v1d6(0x229)

                Begin block 0x229
                prev=[0x1d5], succ=[]
                =================================
                0x22a: v22a(0x40) = CONST 
                0x22c: v22c = MLOAD v22a(0x40)
                0x22f: v22f = ISZERO v228_0
                0x230: v230 = ISZERO v22f
                0x231: v231 = ISZERO v230
                0x232: v232 = ISZERO v231
                0x234: MSTORE v22c, v232
                0x235: v235(0x20) = CONST 
                0x237: v237 = ADD v235(0x20), v22c
                0x23b: v23b(0x40) = CONST 
                0x23d: v23d = MLOAD v23b(0x40)
                0x240: v240(0x20) = SUB v237, v23d
                0x242: RETURN v23d, v240(0x20)

            }


            function withdraw(uint256)() public {
                Begin block 0x243
                prev=[], succ=[0x24a, 0x24e]
                =================================
                0x244: v244 = CALLVALUE 
                0x245: v245 = ISZERO v244
                0x246: v246(0x24e) = CONST 
                0x249: JUMPI v246(0x24e), v245

                Begin block 0x24a
                prev=[0x243], succ=[]
                =================================
                0x24a: v24a(0x0) = CONST 
                0x24d: REVERT v24a(0x0), v24a(0x0)

                Begin block 0x24e
                prev=[0x243], succ=[0x9d9]
                =================================
                0x24f: v24f(0x264) = CONST 
                0x252: v252(0x4) = CONST 
                0x256: v256 = CALLDATALOAD v252(0x4)
                0x258: v258(0x20) = CONST 
                0x25a: v25a(0x24) = ADD v258(0x20), v252(0x4)
                0x260: v260(0x9d9) = CONST 
                0x263: JUMP v260(0x9d9)

                Begin block 0x9d9
                prev=[0x24e], succ=[0xa23, 0xa27]
                =================================
                0x9db: v9db(0x3) = CONST 
                0x9dd: v9dd(0x0) = CONST 
                0x9df: v9df = CALLER 
                0x9e0: v9e0(0xffffffffffffffffffffffffffffffffffffffff) = CONST 
                0x9f5: v9f5 = AND v9e0(0xffffffffffffffffffffffffffffffffffffffff), v9df
                0x9f6: v9f6(0xffffffffffffffffffffffffffffffffffffffff) = CONST 
                0xa0b: va0b = AND v9f6(0xffffffffffffffffffffffffffffffffffffffff), v9f5
                0xa0d: MSTORE v9dd(0x0), va0b
                0xa0e: va0e(0x20) = CONST 
                0xa10: va10(0x20) = ADD va0e(0x20), v9dd(0x0)
                0xa13: MSTORE va10(0x20), v9db(0x3)
                0xa14: va14(0x20) = CONST 
                0xa16: va16(0x40) = ADD va14(0x20), va10(0x20)
                0xa17: va17(0x0) = CONST 
                0xa19: va19 = SHA3 va17(0x0), va16(0x40)
                0xa1a: va1a = SLOAD va19
                0xa1b: va1b = LT va1a, v256
                0xa1c: va1c = ISZERO va1b
                0xa1d: va1d = ISZERO va1c
                0xa1e: va1e = ISZERO va1d
                0xa1f: va1f(0xa27) = CONST 
                0xa22: JUMPI va1f(0xa27), va1e

                Begin block 0xa23
                prev=[0x9d9], succ=[]
                =================================
                0xa23: va23(0x0) = CONST 
                0xa26: REVERT va23(0x0), va23(0x0)

                Begin block 0xa27
                prev=[0x9d9], succ=[0xab0, 0xab4]
                =================================
                0xa29: va29(0x3) = CONST 
                0xa2b: va2b(0x0) = CONST 
                0xa2d: va2d = CALLER 
                0xa2e: va2e(0xffffffffffffffffffffffffffffffffffffffff) = CONST 
                0xa43: va43 = AND va2e(0xffffffffffffffffffffffffffffffffffffffff), va2d
                0xa44: va44(0xffffffffffffffffffffffffffffffffffffffff) = CONST 
                0xa59: va59 = AND va44(0xffffffffffffffffffffffffffffffffffffffff), va43
                0xa5b: MSTORE va2b(0x0), va59
                0xa5c: va5c(0x20) = CONST 
                0xa5e: va5e(0x20) = ADD va5c(0x20), va2b(0x0)
                0xa61: MSTORE va5e(0x20), va29(0x3)
                0xa62: va62(0x20) = CONST 
                0xa64: va64(0x40) = ADD va62(0x20), va5e(0x20)
                0xa65: va65(0x0) = CONST 
                0xa67: va67 = SHA3 va65(0x0), va64(0x40)
                0xa68: va68(0x0) = CONST 
                0xa6c: va6c = SLOAD va67
                0xa6d: va6d = SUB va6c, v256
                0xa73: SSTORE va67, va6d
                0xa75: va75 = CALLER 
                0xa76: va76(0xffffffffffffffffffffffffffffffffffffffff) = CONST 
                0xa8b: va8b = AND va76(0xffffffffffffffffffffffffffffffffffffffff), va75
                0xa8c: va8c(0x8fc) = CONST 
                0xa92: va92 = ISZERO v256
                0xa93: va93 = MUL va92, va8c(0x8fc)
                0xa95: va95(0x40) = CONST 
                0xa97: va97 = MLOAD va95(0x40)
                0xa98: va98(0x0) = CONST 
                0xa9a: va9a(0x40) = CONST 
                0xa9c: va9c = MLOAD va9a(0x40)
                0xa9f: va9f(0x0) = SUB va97, va9c
                0xaa4: vaa4 = CALL va93, va8b, v256, va9c, va9f(0x0), va9c, va98(0x0)
                0xaaa: vaaa = ISZERO vaa4
                0xaab: vaab = ISZERO vaaa
                0xaac: vaac(0xab4) = CONST 
                0xaaf: JUMPI vaac(0xab4), vaab

                Begin block 0xab0
                prev=[0xa27], succ=[]
                =================================
                0xab0: vab0(0x0) = CONST 
                0xab3: REVERT vab0(0x0), vab0(0x0)

                Begin block 0xab4
                prev=[0xa27], succ=[0x264]
                =================================
                0xab5: vab5 = CALLER 
                0xab6: vab6(0xffffffffffffffffffffffffffffffffffffffff) = CONST 
                0xacb: vacb = AND vab6(0xffffffffffffffffffffffffffffffffffffffff), vab5
                0xacc: vacc(0x7fcf532c15f0a6db0bd6d0e038bea71d30d808c7d98cb3bf7268a95bf5081b65) = CONST 
                0xaee: vaee(0x40) = CONST 
                0xaf0: vaf0 = MLOAD vaee(0x40)
                0xaf4: MSTORE vaf0, v256
                0xaf5: vaf5(0x20) = CONST 
                0xaf7: vaf7 = ADD vaf5(0x20), vaf0
                0xafb: vafb(0x40) = CONST 
                0xafd: vafd = MLOAD vafb(0x40)
                0xb00: vb00(0x20) = SUB vaf7, vafd
                0xb02: LOG2 vafd, vb00(0x20), vacc(0x7fcf532c15f0a6db0bd6d0e038bea71d30d808c7d98cb3bf7268a95bf5081b65), vacb
                0xb04: JUMP v24f(0x264)

                Begin block 0x264
                prev=[0xab4], succ=[]
                =================================
                0x265: STOP 

            }


            function decimals()() public {
                Begin block 0x266
                prev=[], succ=[0x26d, 0x271]
                =================================
                0x267: v267 = CALLVALUE 
                0x268: v268 = ISZERO v267
                0x269: v269(0x271) = CONST 
                0x26c: JUMPI v269(0x271), v268

                Begin block 0x26d
                prev=[0x266], succ=[]
                =================================
                0x26d: v26d(0x0) = CONST 
                0x270: REVERT v26d(0x0), v26d(0x0)

                Begin block 0x271
                prev=[0x266], succ=[0xb05]
                =================================
                0x272: v272(0x279) = CONST 
                0x275: v275(0xb05) = CONST 
                0x278: JUMP v275(0xb05)

                Begin block 0xb05
                prev=[0x271], succ=[0x279]
                =================================
                0xb06: vb06(0x2) = CONST 
                0xb08: vb08(0x0) = CONST 
                0xb0b: vb0b = SLOAD vb06(0x2)
                0xb0d: vb0d(0x100) = CONST 
                0xb10: vb10(0x1) = EXP vb0d(0x100), vb08(0x0)
                0xb12: vb12 = DIV vb0b, vb10(0x1)
                0xb13: vb13(0xff) = CONST 
                0xb15: vb15 = AND vb13(0xff), vb12
                0xb17: JUMP v272(0x279)

                Begin block 0x279
                prev=[0xb05], succ=[]
                =================================
                0x27a: v27a(0x40) = CONST 
                0x27c: v27c = MLOAD v27a(0x40)
                0x27f: v27f(0xff) = CONST 
                0x281: v281 = AND v27f(0xff), vb15
                0x282: v282(0xff) = CONST 
                0x284: v284 = AND v282(0xff), v281
                0x286: MSTORE v27c, v284
                0x287: v287(0x20) = CONST 
                0x289: v289 = ADD v287(0x20), v27c
                0x28d: v28d(0x40) = CONST 
                0x28f: v28f = MLOAD v28d(0x40)
                0x292: v292(0x20) = SUB v289, v28f
                0x294: RETURN v28f, v292(0x20)

            }


            function balanceOf(address)() public {
                Begin block 0x295
                prev=[], succ=[0x29c, 0x2a0]
                =================================
                0x296: v296 = CALLVALUE 
                0x297: v297 = ISZERO v296
                0x298: v298(0x2a0) = CONST 
                0x29b: JUMPI v298(0x2a0), v297

                Begin block 0x29c
                prev=[0x295], succ=[]
                =================================
                0x29c: v29c(0x0) = CONST 
                0x29f: REVERT v29c(0x0), v29c(0x0)

                Begin block 0x2a0
                prev=[0x295], succ=[0xb18]
                =================================
                0x2a1: v2a1(0x2cc) = CONST 
                0x2a4: v2a4(0x4) = CONST 
                0x2a8: v2a8 = CALLDATALOAD v2a4(0x4)
                0x2a9: v2a9(0xffffffffffffffffffffffffffffffffffffffff) = CONST 
                0x2be: v2be = AND v2a9(0xffffffffffffffffffffffffffffffffffffffff), v2a8
                0x2c0: v2c0(0x20) = CONST 
                0x2c2: v2c2(0x24) = ADD v2c0(0x20), v2a4(0x4)
                0x2c8: v2c8(0xb18) = CONST 
                0x2cb: JUMP v2c8(0xb18)

                Begin block 0xb18
                prev=[0x2a0], succ=[0x2cc]
                =================================
                0xb19: vb19(0x3) = CONST 
                0xb1b: vb1b(0x20) = CONST 
                0xb1d: MSTORE vb1b(0x20), vb19(0x3)
                0xb1f: vb1f(0x0) = CONST 
                0xb21: MSTORE vb1f(0x0), v2be
                0xb22: vb22(0x40) = CONST 
                0xb24: vb24(0x0) = CONST 
                0xb26: vb26 = SHA3 vb24(0x0), vb22(0x40)
                0xb27: vb27(0x0) = CONST 
                0xb2d: vb2d = SLOAD vb26
                0xb2f: JUMP v2a1(0x2cc)

                Begin block 0x2cc
                prev=[0xb18], succ=[]
                =================================
                0x2cd: v2cd(0x40) = CONST 
                0x2cf: v2cf = MLOAD v2cd(0x40)
                0x2d3: MSTORE v2cf, vb2d
                0x2d4: v2d4(0x20) = CONST 
                0x2d6: v2d6 = ADD v2d4(0x20), v2cf
                0x2da: v2da(0x40) = CONST 
                0x2dc: v2dc = MLOAD v2da(0x40)
                0x2df: v2df(0x20) = SUB v2d6, v2dc
                0x2e1: RETURN v2dc, v2df(0x20)

            }


            function symbol()() public {
                Begin block 0x2e2
                prev=[], succ=[0x2e9, 0x2ed]
                =================================
                0x2e3: v2e3 = CALLVALUE 
                0x2e4: v2e4 = ISZERO v2e3
                0x2e5: v2e5(0x2ed) = CONST 
                0x2e8: JUMPI v2e5(0x2ed), v2e4

                Begin block 0x2e9
                prev=[0x2e2], succ=[]
                =================================
                0x2e9: v2e9(0x0) = CONST 
                0x2ec: REVERT v2e9(0x0), v2e9(0x0)

                Begin block 0x2ed
                prev=[0x2e2], succ=[0x2f5]
                =================================
                0x2ee: v2ee(0x2f5) = CONST 
                0x2f1: v2f1(0xb30) = CONST 
                0x2f4: v2f4_0, v2f4_1 = CALLPRIVATE v2f1(0xb30), v2ee(0x2f5)

                Begin block 0x2f5
                prev=[0x2ed], succ=[0x31a]
                =================================
                0x2f6: v2f6(0x40) = CONST 
                0x2f8: v2f8 = MLOAD v2f6(0x40)
                0x2fb: v2fb(0x20) = CONST 
                0x2fd: v2fd = ADD v2fb(0x20), v2f8
                0x300: v300(0x20) = SUB v2fd, v2f8
                0x302: MSTORE v2f8, v300(0x20)
                0x306: v306 = MLOAD v2f4_0
                0x308: MSTORE v2fd, v306
                0x309: v309(0x20) = CONST 
                0x30b: v30b = ADD v309(0x20), v2fd
                0x30f: v30f = MLOAD v2f4_0
                0x311: v311(0x20) = CONST 
                0x313: v313 = ADD v311(0x20), v2f4_0
                0x318: v318(0x0) = CONST 

                Begin block 0x31a
                prev=[0x2f5, 0x323], succ=[0x335, 0x323]
                =================================
                0x31a_0x0: v31a_0 = PHI v318(0x0), v32e
                0x31d: v31d = LT v31a_0, v30f
[...]
