@import url('defi-dog.css');
@import url('view/main-view.css');
@import url('view/main-view-top-menu.css');
@import url('view/login-view.css');

html[theme~="dark"] {
    --lumo-base-color: #0D1421;
    --lumo-body-background-color: #222531;
    --lumo-primary-color: #4a90e2;
    --lumo-primary-text-color: #ffffff;
    --lumo-text-color: #e0e0e0;
}

.home-button-icon {
    width: 100px;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: inline-block;
}

/* Тёмная тема */
html[theme~="dark"] .home-button-icon {
    background-image: url('icons/defidog_dark.png');
}

/* Светлая тема */
html:not([theme~="dark"]) .home-button-icon {
    background-image: url('icons/defidog_light.png');
}